<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mylozo.presenti.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Presenti"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.mylozo.presenti.app.view.LanguageSelectorActivity"
            android:exported="true"
            android:theme="@style/Theme.Presenti.NoActionBar" />
        <activity
            android:name="com.mylozo.presenti.app.view.NoteActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Presenti.NoActionBar"/>
        <activity
            android:name="com.mylozo.presenti.app.view.MarkAttendanceActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/title_activity_mark_attendance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Presenti.NoActionBar" />
        <activity
            android:name="com.mylozo.presenti.app.view.ScanQRActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Presenti.NoActionBar" />
        <activity
            android:name="com.mylozo.presenti.app.view.MerchantScannerActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Presenti.NoActionBar" />
        <activity
            android:name="com.mylozo.presenti.app.view.LoginActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Presenti.NoActionBar" />
        <activity
            android:name="com.mylozo.presenti.app.view.IntroActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Presenti.NoActionBar" />
        <activity
            android:name="com.mylozo.presenti.app.view.SplashScreenActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>